
/* CSS files add styling rules to your content */
:root {
	--pink: rgb(255, 162, 153);
	--blue: #a6dcef;
}
	
	* {
	 margin: 0px;
	 padding: 0px;
	}
	
	body {
		font-family: Montserrat, arial, sans-serif;
		background-color: whitesmoke;
	}
	
	.nav-bar {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}
	
	h1, h2 {
		font-style: italic;
		margin: 20px 0;
		letter-spacing: 3px;
		font-family: Notable;
		font-size: 25px;
	}
	
	ul {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	li {
		transition: all 0.35s ease;
	}

	li:hover {
		text-decoration: underline;
		transition: all 0.35s ease;
		color: var(--pink);
	}
	
	.option {
		margin: 15px;
		display: flex;
		justify-content: space-around;
		transition: all 0.35s ease;
	}

	/* .options:hover {
		text-decoration: underline;
		transition: all 0.35s ease;
		color: red;
	} */

	.hero-content {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		padding: 60px 0;
		background-color: var(--pink);
	}

	.hero-title {
		margin-bottom: 30px;
	}

	.hero-text {
		text-align: center;
		margin:0 30px 20px 30px;
	}
	
	.shop-now-btn {
		width: 120px;
		height: 35px;
		background-color: whitesmoke;
		font-family: Notable;
		border-radius: 5px;
		border: 1px;
		box-shadow: 5px 5px 18px gray;
		transition: all 0.35s ease;
	}

	.shop-now-btn:hover {
		transition: all 0.35s ease;
		transform: scale(1.2);
		background-color: var(--blue);
	}
	
	.below-the-fold {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}

	.media {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}

	.new-background {
		display: block;
		background-color: var(--mid-purp);
	}

	.media-title {
		text-align: center;
		margin-top: 0;
		padding-top: 20px;
	}
	.media-3 {
		background-color: ;

	}

	